.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;

}

.sidebar-link {
  height: 74px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(236, 236, 236);
}


.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;


}

/*
.sidebar-link img what it means is it will target all the images inside the sidebar-link
.sidebar-link div will target all the divs inside the sidebar-link like the above one

with 'flex-direction: column' the justify-content: center and  align-items: center will be reversed i.e it will actually work like row but instead of flex-direction they are now reversed